/*CONTENT:

1. Colors
2. Styles

=========
1. Colors
=========

background-color-1: #B5EAEA
background-color-2: #EDF6E5
background-color-3: #FFBCBC
text-color-1: #4C4C6D
text-color-2: #F38BA0

=========
2. Styles
=========*/

body {
  background-color: #EDF6E5;
  color: #4C4C6D;
  font-family: 'Lato', sans-serif;
}
/*
nav {
  background-color: #B5EAEA;
}
*/

h1 {
  font-family: 'Signika', sans-serif;
  font-size: 2rem;
  margin: 10px;
}

.button-class {
  background-color: #B5EAEA;
  color: #4C4C6D;
  font-family: inherit;
  text-align: center;
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin: 4px;
  font-size: 1.2rem;
  border: 1px solid #4C4C6D;
  cursor: pointer;

}
